demo_dump/*
*.dem
*.json
*.parquet
*.db
*.db.wal
*.ipynb

**/chromedriver

secrets/*
archive/*
build/*

__pycache__/
dagster_workflow/assets/chromedriver
dagster_workflow/demo-pipeline/data/*
dagster_workflow/demo-pipeline/build/*
dagster_workflow/demo-pipeline/demo_pipeline.egg-info/*

