demo_dump/*
secrets/*
archive/*
dagster_workflow/assets/functions/__pycache__/*
dagster_workflow/assets/chromedriver
dagster_workflow/demo-pipeline/dagster_test
dagster_workflow/demo-pipeline/build/*
dagster_workflow/demo-pipeline/demo_pipeline/__pycache__
dagster_workflow/demo-pipeline/chromedriver
dagster_workflow/demo-pipeline/demo_pipeline/functions/__pycache__/*
dagster_workflow/demo-pipeline/demo_pipeline.egg-info/*
dagster_workflow/demo-pipeline/work/*
*.dem
*/*.dem
